.display-great {
  display: none;
}
.display-medium {
  display: none;
}
.display-mini {
  display: none;
}
#more {
  display: none;
}
.none, .web {

  display:none;

}

body{

  color: #000;
  background: linear-gradient(135deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 34%, rgba(134,174,204,1) 100%);

}
.menu ul li,
#correo,
#video,
#wrapper > * {
  border-radius: 10px;
}

.menu ul{
  padding-left: 0;
}
.menu ul li{
  text-decoration: none;
}

.menu ul li:hover, 
.menu ul li:focus, 
#navbar_mini ul li:hover {
color:red;
cursor:pointer;
background-color: #ddd;

}

.menu ul li{

list-style-type: none;
margin-left: 20px;
padding-bottom: 8px;
padding-top: 8px;
font-size: 1.25em;
width: 76%;
margin-bottom: 2px;
padding-left: 11%;
}
#main-section ul {

 list-style-type: none;

}

.datos h2 {

  color: #000;
  text-align: left;
  border-bottom: 2px solid red;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.2em;
  text-transform: uppercase;
}

#foto {

    display: block;
    float: right;
    margin-left: 15px;
    margin-right: 2%;
    border-radius: 5px;
    max-width:100%;
    height:auto;
}
#correo {

  margin-left: 2.3%;
  padding: 10px;
  text-decoration: none;
  background-color: lightgrey;

}

.datos {
  
  display:block;
  overflow: auto;
  padding-bottom: 2%;
  font-size: 1.2em;
  background-color: burlywood;
  border-radius: 10px;
  width: 80%;  
  margin:0 auto;
}

code {
  
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  width: 70%;
  word-wrap: break-word;
  margin:0 auto;

}

.datos a:hover {
  color: #0e94bd;
} 
.datos p  {
 display:block;
  text-align: justify;
  width: 50%;
  padding-top: 10px;
 

    
}
#myBtn {

  cursor:pointer;
  color: #0e94bd
}
.datos ul, .datos p, .datos div {
  padding-left: 0px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.datos strong {
  font-size: 1.2em;
}
.normal ul li:first-child{

  font-weight: normal !important;

}
.datos ul li:first-child {

  font-weight: bold;
}
.menu ul{
  font-size: 1.15em;
}
#footer {

  padding-top: 10px;
  padding-bottom: 25px;
    
  }
#header {

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#video {
  display: block;
  margin: 0 auto;
  margin-bottom: 4%;
}

#no-script {

text-align: center;
font-size: 1.5em;

}

#footer p {
	
	text-align:center;
	font-size:1.2em;
	
}
.terminal {

display:flex;
justify-content: center;
white-space: pre-line;
background-color: black;
color: white;
border-radius: 20px;
padding: 5px;

}