
/*estilos vista previa imprimir*/
@page {

margin: 6% 6%;

}

.datos h2 {

  text-align: left !important;
  border-bottom: 2px solid red;
  font-size: 1.2em;
  text-transform: uppercase;
}

#correo,
#myBtn,
#header,
.menu,
#navbar_mini,
#navbar,
#footer {

  display:none;

}

#botones {

  display:block;
  position: fixed;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  top:0;
  
}

#datos > ul:nth-child(3) > li:nth-child(2)::after{

  content: "\Arodri.riobo@gmail.com";
  white-space: pre;
  color: blue;
  
}

#btnCancel {

  float: right;

}

#btnPrint {

 margin-right: 20px;
 float: right;
}



li {

   list-style-type: none;

}

.datos ul li:first-child{

 font-weight: bold;

}

#foto {

  display: block;
  float: right;
  margin-left: 15px;
  margin-right: 2%;
  border-radius: 5px;
  max-width:100%;
  height:auto;
  clear: both;
  
}

#datos > p:nth-child(5) {

display:inline-block;

}

#datos {
  float: right;
  margin-top: 2em;
}

#puntos,
#more {

    flex: 1;

}

#puntos {

  margin-top: 1em;
  margin-bottom: 1em;

}

#main-section {
  
  display:block;
  width: 90%;
  text-align: justify;
  max-width: 1200px;
  margin: 0 auto;
  
}

body {

  background-color: none !important;
}

@media print {

  #correo,
  .no-print, 
  .no-print *
  {
    display: none;
  }
  
  #datos {
  /*
    margin-top: 10;
	margin-bottom:10;*/
  }
  
 }